# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.idea/
.packages
.project
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
build/
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/app/src/main/res/values/strings.xml
android/local.properties
android/key.properties
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
*~
