<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471877407566-dqpdle963g3j2lv14fuqgvrr08qv3db7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471877407566-dqpdle963g3j2lv14fuqgvrr08qv3db7</string>
	<key>API_KEY</key>
	<string>AIzaSyCfn0gAOerc6qqXEMuY0JUfWJ1grhQaQqY</string>
	<key>GCM_SENDER_ID</key>
	<string>471877407566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jebly.customer</string>
	<key>PROJECT_ID</key>
	<string>jebly-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>jebly-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471877407566:ios:6db29cc77a30ba93d0841f</string>
	<key>DATABASE_URL</key>
	<string>https://jebly-prod-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>